Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [24]:
data = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
joined_data = data.merge(movies, on='movieId', how='left')
filtered_films = joined_data[ (joined_data['rating'] == 5.0) ]
group_by_rating = filtered_films['title'].value_counts()
group_by_rating.head(1)

# Тут я не поняла как можно сделать group_by_rating, чтобы после этого остались столбцы с movieid и Названием. 
# Т.е. я могу сделать группировку с подсчетом только по одному столбцу. А вот как при этом оставить еще и movieid - не понятно

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [36]:
data = pd.read_csv('power.csv')
# Так искались правильные названия городов в базе:
# data[ data['country'].str.contains('toni', case=False) ]['country'].unique()
# 'Latvia' 'Lithuania' 'Estonia'
Pribaltica_countries = data[ (data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia')]
# Тут не поняла как правильно использовать inplace=rewrite
Pribaltica_countries = Pribaltica_countries[(Pribaltica_countries.category.isin([4, 12, 21])) & (Pribaltica_countries.year.isin([2005, 2010]) & (Pribaltica_countries['quantity'] > 0))]
Pribaltica_countries.quantity.sum()

76025.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [39]:
# А тут не понятно, почему он вывел ставку так, а не 5.5 (Это типа 550% ???). Но на самом сайте в коде 5,50. 
pd.read_html('https://www.cbr.ru/hd_base/KeyRate/')[0]

         Дата  Ставка
0  12.05.2020     550
1  08.05.2020     550
2  07.05.2020     550
3  06.05.2020     550
4  05.05.2020     550